In [1]:
import sqlite3
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

Script to import data from SQLite to PostgerSQL
-- Postgersql not available as target DB from MQL5 Backtesting

In [2]:
# Create your connection.
cnx = sqlite3.connect("C://Users/yaled/AppData/Roaming/MetaQuotes/Terminal/Common/Files/tradingIA.sqlite3")

In [3]:
df = pd.read_sql_query("SELECT * FROM fex_eurusd_h1", cnx)

In [4]:
df.head()

,epoch,mopen,mclose,mhigh,mlow,mvolume,mspread,ima,ima2,ima4,...,istos4,imom,imom2,imom4,rProfitBuy,rSwapBuy,rProfitBTrigger,rProfitSell,rSwapSell,rProfitSTrigger
0,946861200,1.0073,1.0128,1.0132,1.0073,194,50,1.008242,1.007963,1.006779,...,70.129870,100.536033,100.615935,100.565982,3.64,0.0,TO,-3.07,0.0,SL
1,946864800,1.0129,1.0137,1.0141,1.0120,113,50,1.008733,1.008175,1.006973,...,72.331461,100.675340,100.815515,100.495688,2.56,0.0,TO,-3.15,0.0,SL
2,946868400,1.0140,1.0171,1.0173,1.0134,149,50,1.009517,1.008588,1.007215,...,76.041667,101.073239,101.002979,100.902778,-0.10,0.0,TO,-0.88,0.0,TO
3,946872000,1.0170,1.0175,1.0190,1.0170,214,50,1.010350,1.008958,1.007462,...,78.688525,100.872410,100.962493,100.882411,-2.36,0.0,TO,1.38,0.0,TO
4,946875600,1.0173,1.0167,1.0177,1.0164,162,50,1.010975,1.009296,1.007677,...,78.511530,100.703249,100.893123,100.813089,-2.95,0.0,SL,5.74,0.0,TP

In [5]:
conn_string = 'postgresql://postgres:Juw51000@localhost/tradingIA'

db = create_engine(conn_string)
conn = db.connect()

In [6]:
df.to_sql('fex_eurusd_h1', con=conn, if_exists='replace', index=False)

755