In [1]:
import sqlite3
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

Script to import data from SQLite to PostgerSQL
-- Postgersql not available as target DB from MQL5 Backtesting

In [5]:
# Create your connection.
cnx = sqlite3.connect("C://Users/yaled/AppData/Roaming/MetaQuotes/Terminal/Common/Files/tradingIA.sqlite3")

In [6]:
df = pd.read_sql_query("SELECT * FROM fex_eurusd_d1", cnx)

In [7]:
df.head()

,epoch,mopen,mclose,mhigh,mlow,mvolume,mspread,ima,ima2,ima4,...,irsi4,iatr,iatr2,iatr4,rProfitBuy,rSwapBuy,rProfitBTrigger,rProfitSell,rSwapSell,rProfitSTrigger
0,946857600,1.0073,1.0243,1.0278,1.0054,6572,50,1.011008,1.012496,1.023587,...,48.887713,0.009387,0.009750,0.010237,7.65,-0.48,TO,-9.13,0.00,SL
1,946944000,1.0243,1.0296,1.0340,1.0213,7253,50,1.012825,1.013387,1.023129,...,50.520967,0.009625,0.010206,0.010350,2.81,-0.48,TO,-9.31,0.00,SL
2,947030400,1.0295,1.0320,1.0402,1.0284,6548,50,1.014383,1.014633,1.022656,...,51.249140,0.010375,0.010181,0.010562,-4.47,-0.24,TO,3.50,0.08,TO
3,947116800,1.0327,1.0327,1.0415,1.0272,7288,50,1.016400,1.015867,1.022267,...,51.464196,0.011575,0.010600,0.010762,-11.55,-0.12,SL,6.43,0.08,TO
4,947203200,1.0329,1.0295,1.0334,1.0260,5765,50,1.018083,1.016154,1.021787,...,50.414735,0.011138,0.010250,0.010591,4.26,-0.24,TO,-5.22,0.08,TO

In [8]:
conn_string = 'postgresql://postgres:Juw51000@localhost/tradingIA'

db = create_engine(conn_string)
conn = db.connect()

In [9]:
df.to_sql('fex_eurusd_d1', con=conn, if_exists='replace', index=False)

116